<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h3>Esto es lo primero que estoy creando con HTML</h3>

    <h1>El título de nuestro documento</h1>

    <img src="/images/Temple.jpg" alt="">

    <h2>Un subtitulo cualquiera</h2>

    <img src="/images/Aves.jpg" alt="">

    <h3>Sigo creando lineas de títulos y subtitulos</h3>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum non corporis laudantium odit at nesciunt pariatur, fugit, perspiciatis dolorem cum doloribus libero possimus delectus incidunt quis expedita sint cumque quasi!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui enim distinctio nam nobis soluta, eveniet iure molestiae nihil itaque, temporibus voluptatibus, nemo quo est minima cumque unde culpa beatae quas?</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://www.google.com">Ir a Google</a>
</body>
</html>